---
layout: default
published: true
---

<article class="post">
  <h1>{{ page.title }}</h1>
  
<div class="date">
  {{ page.date | date: "%A, %e %B %Y" }}
</div>

  <div class="entry">
    {{ content }}
  </div>



  {% include disqus.html %}
</article>

<!-- Look the author details up from the site config. -->
{% assign intw = site.data.intw[page.intw] %}
{% assign author = site.data.authors[page.author] %}
{% assign phtg = site.data.phtg[page.phtg] %}

<!-- Output author details if some exist. -->
{% if intw %}
    <span>
        <!-- Personal Info. -->
        Interviewed by <a>{{ intw.name }}</a> on {{ page.iwdate | date: "%e %B %Y" }}
    </span> 
{% endif %}

{% if author %}
    <span>
        <!-- Personal Info. -->
        <br> Written by <a>{{ author.name }}</a>
    </span>
{% endif %}

{% if phtg %}
    <span>
        <!-- Personal Info. -->
        <br> Photograph by <a>{{ phtg.name }}</a>
    </span>
{% endif %}

